@using Clubber.Mvc.Utils
@model Clubber.Backend.Models.ClubZone
@using WURFL

@{
    ViewBag.Title = Model.Name;
    Layout = this.ContentRelativeToView("_LayoutSite_2.cshtml");
}

@{
	// Pager Variables
	var pageCounter=0;
    var totalItems= 1;
    var pageCounterGlobal=1;
    var catego= Model.Name;
    var itemsPerPage=10;
}

@{
	var device = WURFLManagerBuilder.Instance.GetDeviceForRequest(Request.UserAgent, MatchMode.Performance);
	var categories = Model.Club.ClubZones.Where(cz => cz.IsEnabled);
	if (bool.Parse(device.GetVirtualCapability("is_ios")))
	{
		categories = categories.Where(cz => cz.Description != "APK");
	}
}

@{
// VideoSongsCatego
	var videos = new List<string>();
    foreach (var video in Model.ClubItems)
    {
	    if (video.FileUrl.Contains(".mp4"))
	    {
		    videos.Add(@video.Name);
	    }
    }
}

@{
// IfSub
    var MainCat = Model.Name.Contains("Series") ? true : false;
    var subCat = Model.Name.Contains("Sub") ? true : false;
}

<!-- NavBar -->
@Html.Partial(this.ContentRelativeToView("NavBar.cshtml"), (List<Clubber.Backend.Models.ClubZone>)ViewBag.Club.ClubZones)
<!-- /NavBar -->

<!-- Cards Body -->
<div class="container mainContainer">
    <div class="card-columns pager-container">
        <!-- BLOG POST -->
        @if(MainCat && !subCat)
        {
            foreach (var clubZone in categories.OrderBy(cz => cz.Order).ThenBy(cz => cz.Name))
            {
                if(@clubZone.Name.Contains("_SeriesSub"))
                {
                    <!-- Movie Card -->
                    <div class="card" onclick="location.href='@Url.Action("Category", "MemberZone", new { id = clubZone.ID })';">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight card-img-text">
                            <img class="img-fluid" src="@Url.Content(string.Format("{0}/categoryIndex.jpg", clubZone.RootFolder))" alt="@clubZone.Name">
                            <div class="card-img-text-container">
                                <h4 class="card-title2"><strong class="i18n" id="@clubZone.Name"></strong></h4>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="card-description i18n" id="@clubZone.Name-desc"></p>
                        </div>
                    </div>
                    <!-- /Movie Card -->
                }
            }
        }else{ 
            foreach (var clubItem in Model.ClubItems.Where(cz => cz.IsEnabled).OrderBy(cz => cz.Name))
            {
                var sinlgeVideo = new List<string>();
                var isVideo = false;
                foreach (var vid in videos)
                {
                    if (vid.Contains(clubItem.Name))
                    {
                        sinlgeVideo.Add(@vid);
                        isVideo = true;
                    }
                }
                if (clubItem.Name.Contains("1080") || clubItem.Name.Contains("720")||clubItem.Name.Contains("480")){}
                else{

                if(totalItems>=1 && totalItems<=itemsPerPage)
                {
                    @*'*@
                    var idPage="page" + pageCounterGlobal; 
                            <!-- Movie Card -->
                            <div class="card  pager-item" id="@idPage" data-animated="fadeInUp">
                                <!--Card image-->
                                <div class="view overlay hm-white-slight card-img-text">
                                    <div id="vidItem-@clubItem.Name">
                                    </div>
                                    <img class="img-fluid imgItem @clubItem.Name" src="@Url.Content(clubItem.PreviewUrl)" alt="@clubItem.Name">
                                    <div class="card-img-text-container imgItem @clubItem.Name">
                                        <h4 class="card-title"><strong class="i18n" id="@clubItem.Name"></strong></h4>
                                        <div class="VideoCategoPlayBtn">
                                            <i class="fa fa-play-circle" OnClick="videoP('@clubItem.Name', '@(isVideo ? "playVid" : "playSong")', '@string.Join("^-^", sinlgeVideo)', '@Url.Content(clubItem.PreviewUrl)','@clubItem.ClubZone.Name')"></i>
                                        </div>
                                        <div id="rateYo-@clubItem.ID" class="card-rating"></div>
                                    </div>
                                </div>
                                <div class="card-footer likeRate" likeRate="@clubItem.ID">
                                    <div class="like-content">
                                        <button onclick="itemLike('@clubItem.ID')" class="btn btn-custom">
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like
                                        </button>
                                        <span id="likeN-@clubItem.ID" class="likeText">0 likes</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /Movie Card -->

                    pageCounter = pageCounterGlobal;
                }

                if(totalItems==itemsPerPage){
                    totalItems=0;
                    pageCounterGlobal++;
                }
                totalItems ++;
                }
            }
        }
    </div>
    <!-- PAGINATION -->
    <div id="pager-pagination"></div>
    <!-- //PAGINATION -->
</div>
<!-- /Cards Body -->

<!-- Footer -->
@*@Html.Partial(this.ContentRelativeToView("footer.cshtml"), (List<Clubber.Backend.Models.ClubZone>)ViewBag.Club.ClubZones)*@
<!-- /Footer -->

<!-- JS Paginador -->
<script type="text/javascript">

	// Nuevo Paginador
	var onPage = 1;
	var pagerObj = {};
	var catName = '@catego';
	var totalPages = @pageCounter;
	var cookieName = "pagerObj";
	var cookieObj = cookie.read(cookieName);

	if(cookieObj != null)
		pagerObj = JSON.parse(cookieObj);

	if(pagerObj[catName] != null)
		onPage = pagerObj[catName];

	$(".pager-container .pager-item").hide();      
	$(".pager-item#page"+onPage).fadeIn('slow');
	$('#pager-pagination').bootpag({
		total: totalPages,
		page: onPage,
		maxVisible: 5,
		next:'»',
		prev:'«'
	}).on("page", function(event, pageNumber){
		$(".pager-item").hide();
		$(".pager-item#page"+pageNumber).fadeIn('slow');
		pagerObj[catName] = pageNumber;
		cookie.create(cookieName, JSON.stringify(pagerObj));
	});

</script>
<!-- /JS Paginador -->